// -------------- CONTACT ME OVERLAY ---------------------
#contact-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(270deg, #2e2e2f, #000000);
  //background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: opacity 0.3s;
}

#contact-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#contact-overlay a:hover,
#contact-overlay a:focus {
  color: #f1f1f1;
}

#contact-overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  #contact-overlay a {
    font-size: 20px;
  }
  #contact-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

//--------- CONTACT ME SOCIAL MEDIA ------------

.contact-me-social {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -170px;
}

.contact-me-social h1 {
  color: white;
  margin-bottom: 30px;
}

.contact-me-social span {
  color: white;
  margin-left: 30px;
}

// --contact---

// MOBILE FIRST ---------
#contact {
  padding: 30px 0;
  background-color: #e8e8e8;
  .container {
    h1 {
      text-align: center;
      margin: 10px 0;
      color: #343535;
      font-size: 2.2rem;
    }
    p {
      padding: 10px 15px;
      /* font-family: Bitter,serif; */
      /* line-height: 1.4; */
      font-size: 14px;
      /* word-spacing: 3px; */
      text-shadow: 0 1px 0 #fff;
      font-family: monospace;
      text-align: center;
    }
    div {
      text-align: center;
    }
  }
}

// for 768px devices and above
@media only screen and (min-width: 768px) {
  #contact {
    padding: 50px 0;
    .container {
      h1 {
        margin: 50px 0;
        font-size: 3rem;
      }
      p {
        font-size: 1.5em !important;

        font-family: "Bitter", serif;
        word-spacing: 3px;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
      }
    }
  }
}
