// Styling for the masthead

header.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  //margin-bottom: 25px;
  background: no-repeat center center;
  background-color: #232323;
  background-attachment: scroll;
  background-image: url(/img/bg.webp);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  @include background-cover;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.7;
  }

  .container {
    height: inherit;
  }

  .social-container {
    position: absolute;
    top: 0px;
    right: 0;
    width: 50px;
  }

  .button-wrapper {
    margin-top: 25px;
  }

  @media only screen and (min-width: 992px) {
    .button-wrapper {
      margin-top: 30px;
    }
  }

  // for height
  @media only screen and (max-height: 40.5625em) {
    height: 580px !important;
  }

  @media only screen and (max-height: 36.1875em) {
    height: 480px !important;
  }

  @media only screen and (max-height: 29.9375em) {
    height: 380px !important;
  }
}

//------------- HEADER TEXT -----------------
.text-container {
  width: 100%;
  //height: 100vh;
  //background: #232323;

  .title {
    .block {
      width: 0%;
      height: inherit;
      background: #efefef; // #ffb510;
      position: absolute;
      animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      display: flex;
    }

    h1 {
      color: #fff;
      -webkit-animation: mainFadeIn 2s forwards;
      -o-animation: mainFadeIn 2s forwards;
      animation: mainFadeIn 2s forwards;
      animation-delay: 1.6s;
      opacity: 0;
    }
  }

  .role {
    .block {
      width: 0%;
      height: inherit;
      background: #d8d7d7; //#e91e63;
      position: absolute;
      animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      animation-delay: 2s;
      display: flex;
    }

    p {
      animation: secFadeIn 2s forwards;
      animation-delay: 3.2s;
      opacity: 0;
      font-weight: 400;
      font-size: 0.6em; //************
      font-family: "Lato";
      color: #ffffff;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 0;
    }
  }
}

// for 992px devices and above
@media only screen and (min-width: 992px) {
  .text-container {
    .title {
      h1 {
        // font-size: 3.5em !important;
      }
    }

    .role {
      margin-top: 10px;

      p {
        font-size: 1.3em !important;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

// ----------

:root {
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */

.reveal-text,
.reveal-text::after {
  -webkit-animation-delay: var(--animation-delay, 2s);
  animation-delay: var(--animation-delay, 2s);
  -webkit-animation-iteration-count: var(--iterations, 1);
  animation-iteration-count: var(--iterations, 1);
  -webkit-animation-duration: var(--duration, 800ms);
  animation-duration: var(--duration, 800ms);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;
  font-size: 10vw;
  -webkit-animation-name: clip-text;
  animation-name: clip-text;
  color: #fff;
  white-space: nowrap;
  cursor: default;
}

.reveal-text::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f98b;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: text-revealer;
  animation-name: text-revealer;
}

@-webkit-keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes text-revealer {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }

  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }

  60%,
  100% {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  60% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}
