// Styling for the navbar
#mainNav {
  position: absolute;

  @include sans-serif-font;
  .navbar-brand {
    @include sans-serif-font;
    font-weight: 800;
    color: white;
    font-size: 16px;
  }
  .navbar-toggler {
    //font-size: 30px;
    //position: fixed;
    //right: 5px;
    text-transform: uppercase;
    color: white;
    border: none;
    outline: none;
  }
  .navbar-nav {
    //opacity: 0;
    transition: all 1s;
    transition-delay: 0.5s;
    > li.nav-item {
      > a {
        padding: 10px 10px;
        font-size: 1.2em;
        font-weight: 800;
        letter-spacing: 1px;
        //text-transform: uppercase;
        color: white;
        @include sans-serif-font;
      }
    }
  }

  // for 992px devices and above ONLY
  @media only screen and (min-width: 992px) {
    //margin-top: 30px;
    border-bottom: 1px solid transparent;
    //background: transparent;
    background: rgba(28, 29, 37, 0.9);
    .navbar-brand {
      padding: 10px 20px;
      color: $white;
      &:focus,
      &:hover {
        color: fade-out($white, 0.2);
      }
    }
    .navbar-nav {
      > li.nav-item {
        > a {
          font-size: 0.9em;
          margin: 10px 15px;
          padding: 0;
          padding-bottom: 5px;
          color: $white;
          &:focus,
          &:hover {
            color: fade-out($white, 0.7);
          }
        }
      }
    }

    .navbar-collapse {
      background: none !important;
    }
    .navbar-collapse::before {
      background: none !important;
    }
    .navbar-collapse::after {
      background: none !important;
    }
    .nav-item a {
      opacity: 1 !important;
    }
  }
}

// for 992px devices and below ONLY
@media only screen and (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: 100%;
    bottom: auto;
    right: auto;
    -webkit-transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #c79ecf;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;

    &.collapse {
      //display: block;
    }

    > ul {
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      transition: transform 1.25s;
      width: 100%;
      z-index: 99;

      > li > a {
        font-size: 20px !important;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: auto;
      left: 100%;
      bottom: auto;
      right: auto;
      background: #7f4a88;
      -webkit-transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: auto;
      left: 100%;
      bottom: auto;
      right: auto;
      -webkit-transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: #fe9191;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }

    &.show {
      left: -100%;

      > ul {
        transform: translateY(-50%);
      }

      &::before {
        width: 100%;
      }

      &:after {
        width: 100%;
      }

      .navbar-nav {
        opacity: 1 !important;
      }
    }
  }
}

// Hamburger Menu Bars
.icon-bar {
  //width: 42px;
  height: 3px; //2px
  background-color: white;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
  margin-top: 6px;
}

.navbar-toggler {
  z-index: 999;
  width: 67px;
  border: none;
  background: transparent !important;
}

.collapsed > span.icon-bar {
  background-color: #d0d0d0;
}

// Hamburger Menu Animation
.navbar-toggler .top-bar {
  width: 100%;
  //transform: rotate(45deg);
  transform-origin: 50% 600%;
  //transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  width: 85%;
  margin-left: 15%;
  //opacity: 0;
}

.navbar-toggler .bottom-bar {
  width: 60%;
  margin-left: 40%;
  //margin-left: 0;
  //transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

//-------- Cancle button
.closebtn {
  position: absolute;
  top: 22px;
  right: 15px;
  z-index: 1;
  width: 60px;
  background: transparent;
  border: none;

  @media only screen and (min-width: 992px) {
    visibility: hidden;
  }
}

.closebtn .top-bar {
  width: 100%;
  transform: rotate(45deg);
  transform-origin: 50% 600%;
  //transform-origin: 10% 10%;
}

.closebtn .middle-bar {
  width: 85%;
  margin-left: 15%;
  opacity: 0;
}

.closebtn .bottom-bar {
  width: 100%;
  margin-left: 40%;
  //margin-left: 0;
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
