.proj-description {
  background-color: #060c10;
  padding: 40px 10px;

  div.container {
    h2 {
      color: white;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      @include serif-font;
      color: white;
      line-height: 1.4;
      font-size: 0.8em;
      text-align: center;
    }

    div {
      text-align: center;
      margin: 50px 0;
    }
  }

  // for 992px devices and above
  @media only screen and (min-width: 992px) {
    padding: 85px 0;

    div.container {
      width: 45%;

      p {
        text-align: justify;
        font-size: 1.2em !important;
      }
    }
  }
}

.proj-body {
  padding: 100px 40px;
}

// FOR SHOWCASE IN HOME PAGE
#showcase {
  padding: 70px 0;
  padding: 80px 0;

  .showcase-container {
    li {
      height: 300px;
      margin: 0 auto;
      margin-bottom: 130px;
      width: 90%;
      /*
      transform: skewY(-2deg); // W3C
      -webkit-transform: skewY(-2deg); // Safari & Chrome
      -moz-transform: skewY(-2deg); // Firefox
      -ms-transform: skewY(-2deg); // Internet Explorer
      -o-transform: skewY(-2deg); // Opera
      */

      a {
        position: relative;
        display: block;
        height: 100%;
        background-color: #2a2f36; // #1c1d25;
        box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);

        .number {
          position: absolute;

          top: -100px;
          right: 10px;
          z-index: 9;
          font-size: 1.1em;
          transition: 0.9s;
          opacity: 1;
          transform: translateY(4rem);

          h1 {
            @include sans-serif-font;
            font-size: 3.5em;
            color: white;
          }
        }

        .number.left {
          left: 10px !important;
        }

        .number.right {
          right: 10px !important;
        }
      }
    }

    li:last-child {
      margin-bottom: 0 !important;
    }

    .showcase-description {
      position: absolute;
      bottom: 15%;
      //left: 10%;
      color: white;
      z-index: 9;

      .showcase-subtitle {
        @include serif-font;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 20px;
      }
    }

    .showcase-description.right {
      right: 10%;
    }

    .showcase-description.left {
      left: 10%;
    }
  }

  // for 992px devices and above
  @media only screen and (min-width: 992px) {
    padding: 150px 0;

    li {
      height: 500px !important;
      margin-bottom: 170px !important;
      width: 65% !important;
      margin: 0 auto;

      a {
        .number {
          font-size: 3em !important;
        }
      }

      a:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        opacity: 0.9;
        background-image: linear-gradient(
          -180deg,
          #1a1527,
          #0e0c16 88%,
          #0e0c16 99%
        );
        transition: width 0.25s;
      }
    }

    .project-heading {
      hr {
        width: 100% !important;
      }
    }
  }
}

// --- FOR NON-TOUCH DEVICES LIKE LAPTOPS
#showcase.no-touch {
  a .number {
    opacity: 0 !important;
    top: -100px !important;
  }
  // when <a> is clicked , .number class will change its position
  a:hover .number {
    transform: translateY(0);
    opacity: 1 !important;
  }
  a:hover .number > h1 {
    color: #d0cece;
  }

  a:hover::after {
    width: 100%;
  }
}
